div {
    color: white;
    font-size: 30px;
    background-color: green;
    padding: 30px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

li::before {
    content: '\264B';
}

div:hover {
    background-color: black;
    color: white;
}
