html {
    overflow-x: hidden;
}
body {
    width: 100%;
}
img.bober {
    width: 20%;
}
.width {
    width: 96%;
}
.justify {
    text-align: justify;
}
td {
    text-align: center;
}

.header {
    background-color: rgb(102, 229, 238);
    padding: 10px 0;
}
.profil {
    background-color: yellow;
}
.settings {
    background-color: green;
}
.photo {
    background-color: blueviolet;
}
.a {
    padding: 20px 0;
}
.footer {
    padding: 10px 0;
    background-color: gray;
}