.border {
  border: 1px solid black;
  width: 400px;
  height: 400px;
}

.box {
  width: 30px;
  height: 30px;
  background-color: blue;
}

button {
  background-color: brown;
  color: black;
  padding: 30px 75px;
  border: none;
  border-radius: 20px;
}

.btn_wrp {
  margin-top: 30px;
}